html, body{
    font-family:Verdana, Geneva, Tahoma, sans-serif!important;
    color:#fff;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar{
    width: 4px;
}
  /* Track */
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 3px;
}
  /* Handle */
::-webkit-scrollbar-thumb{
    background: #1976D2;
    border-radius: 3px;
}
/* Scrollbar */
/* Loader */

/* Loader */
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow:auto;
    overflow-x:hidden;
    background-color:rgb(33,33,33);
}
.nav-bg-dark {
    background-color:rgb(26,26,26);
}
.nav-bg-border {
    border:transparent;
    border-bottom:1px ridge #1976d2!important;
}
.nav-bg-link.active {
    background-color:#000!important;
    border:transparent!important;
    height:100%;
}
.nav-bg-link:hover {
    background-color:#000!important;
    border-bottom:1px solid #1976D2!important;
    border-right:1px ridge transparent!important;
    border-left:1px ridge transparent!important;
    border-top:1px solid transparent!important;
}
.nav-bg-link.active:hover{
    border-bottom:transparent!important;
}
.border-blue-left {
    border-left:1px solid #1976D2;
}
.border-blue-right{
    border-right:1px solid #1976D2;
}
.social-light {
    color:#fff;
}
.social-light:hover {
    color:rgba(255,255,255,.7);
}
.mt-6 {
    margin-top:2.3rem!important;
}
.bg-form-color{
    background-color:#262626!important;
    border:0!important;
    color:#fff!important;
}
/* Body-Card-Content */
.card-bg-dark{
    background-color:rgb(26,26,26)!important;
    min-height:91vh;
    border-radius:.5rem!important;
}
.card-img-size{
    height:24rem;
    max-width:21rem;
}
.card-img-size img{
    height:100%;
    width:100%;
}
.card-link {
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.card-link:hover {
    box-shadow:-0.2rem 0.255rem 0.5rem 0 #1976d2;
    -webkit-transform: translate(.2rem,.1rem);
    -moz-transform: translate(.2rem,.1rem);
    -o-transform: translate(.2rem,.1rem);
    -ms-transform: translate(.2rem,.1rem);
    transform:translate(.2rem, .1rem);
}
.card-link h5{
    color:rgba(255,255,255,.55);
    transition: .3s ease-in-out;
}
.card-mini-img-size{
    height:12rem;
    max-width:10.8rem;
}
.card-mini-img-size img{
    height:100%;
    width:100%;
    object-fit:fill;
}
/* pages content */
.column2_box_shadow{
    box-shadow: 0 0 2.5rem 1rem rgba(0 0 0 /30%);
    border-radius:.5rem;
}
.column2_divider_shadow{
    box-shadow: 0 .5rem 0 -.2rem rgba(0 0 0 /30%);
}
.column2_box_size{
    height:100%;
}

/* imagine_earth_alternated.html */

.custom-breadcrumb{
    margin:.5rem;
}
.custom-breadcrumb a{
    color:#969696;
    text-decoration:none;
}
.custom-breadcrumb a:hover{
    color:#1976D2;
}
.scroll-description{
    overflow-y:scroll;
    max-height:35rem;
}

/* mods/skyrim/vocabulary/index.html */
.voc-box-content h5 {
    font-size:1.2em;
}
.voc-box-content p {
    font-size:.9em;
    padding-left:.9rem;
}
.voc-text-alert {
    background-color:darkorange;
    color:#000;
}
