.btn-carousel{
  width:40px;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:transparent;
  border-radius:50%;
  box-shadow:none;
  color:var(--dh-light);
  margin:0 20px;
  z-index:3;
}