.main{
  background-color:var(--dh-dgray);
}
.projects{
  padding-top:120px;
  padding-bottom:120px;
  display:grid;
  grid-template-columns:repeat(auto-fill, minmax(280px, 1fr));
  gap:20px;
}

@media (max-width:325px){
  .projects{
    padding-right:20px;
    padding-left:20px;
  }
}