.carousel-box{
  background-color:rgb(34 36 42 / .5);
  border-radius:var(--dh-border-big);
  display:grid;
  grid-auto-flow:column;
  scroll-behavior:auto;
  gap:1.2rem;
  overflow-y:auto;
  overscroll-behavior-x:contain;
  scroll-snap-type:x mandatory;
  scrollbar-width:none;
  position:relative;
}
.carousel-box::-webkit-scrollbar{
  display:none;
}

.carousel-btns{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  margin:0 -80px;
  transform:translate(0, 120px);
  position:absolute;
}