.summary{
  --_text:var(--text, var(--dh-light));
  --_btn-bg:var(--btn-bg, var(--dh-blue));
  --_shadow-10:var(--shadow-10, rgba(13 109 253 / 1));
  --_shadow-9:var(--shadow-9, rgba(13 109 253 / .9));
  --_shadow-8:var(--shadow-8, rgba(13 109 253 / .8));
  --_shadow-7:var(--shadow-7, rgba(13 109 253 / .7));
  --_shadow-6:var(--shadow-6, rgba(13 109 253 / .6));
  --_shadow-5:var(--shadow-5, rgba(13 109 253 / .5));
  --_shadow-4:var(--shadow-4, rgba(13 109 253 / .4));
  --_shadow-3:var(--shadow-3, rgba(13 109 253 / .3));
  --_shadow-2:var(--shadow-2, rgba(13 109 253 / .2));
  --_shadow-1:var(--shadow-1, rgba(13 109 253 / .1));

  
  
  padding-top:80px;
  padding-bottom:70px;
  display:flex;
  justify-content:space-around;
  gap:60px;
  height:100svh;
  position:relative;
}

.summary__text-area{
  display:flex;
  flex-direction:column;
  margin-top:50px;
  max-width:500px;
  padding:20px;
}

.summary__text-area>button{
  margin-top:40px;
  transition:.25s ease;
}
.title-area{
  position:relative;
  margin-bottom:40px;
  display:flex;
  flex-direction:column;
  top:8px;
}

.title-area .title{
  font-size:1.5em;
  text-transform:uppercase;
  color:var(--_text);
  top:16px;
  left:2.5px;
  z-index:1;
}

.title-area .profession{
  --_text:var(--text, var(--dh-blue));
  
  
  font-size:2.2em;
  width:100%;
  color:var(--_text);
  text-shadow:0 0 10px var(--_shadow-8),
  0 0 20px var(--_shadow-7),
  0 0 30px var(--_shadow-6),
  0 0 30px var(--_shadow-4),
  0 0 40px var(--_shadow-4);
  white-space:nowrap;
}
.title-area .profession::after{
  content:'';
  width:10em;
  height:3px;
  right:10px;
  margin:0 auto;
  position:absolute;
  bottom:0;
  background-color:var(--_text);
  display:block;
  transition:.25s ease;
}

.title-area .title,
.title-area .profession{
  font-weight:700;
  position:relative;
  text-align:end;
  transition:.25s ease;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.summary .summary-text{
  color:var(--_text);
  text-align:justify;
  text-indent:1.2rem;
  margin-bottom:20px;
}

.frontend{
  --_text:var(--text, var(--dh-blue));
  
  
  color:var(--_text);
  text-shadow:0 0 10px var(--_shadow-8),
  0 0 1px var(--_shadow-6),
  0 0 20px var(--_shadow-7),
  0 0 30px var(--_shadow-6),
  0 0 30px var(--_shadow-4),
  0 0 40px var(--_shadow-2);
}

.photo{
  width:500px;
  height:500px;
  margin:auto 0;
  border-radius:var(--dh-border-small);
  box-shadow:0 10px 30px -10px var(--_shadow-6),
  0 12px 25px -10px var(--_shadow-3),
  0 14px 20px -10px var(--_shadow-1),
  0 10px 10px -10px var(--_shadow-4);
}

.btn-area{
  width:100%;
  height:65px;
  border-radius:var(--dh-border-medium);
  display:flex;
  align-items:center;
  background-color:var(--btn-bg);
  box-shadow:0 5px 10px var(--_shadow-5);
}
.btn-area>button{
  flex:85%;
}
.divisor-btn{
  width:1px;
  height:100%;
  border-left:2px solid var(--dh-dark);
}

.social-btn-area{
  flex:15%;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
  width:100%;
  cursor:pointer;
}
.social-icon{
  font-size:1.8em;
  color:var(--_text);
  display:flex;
  align-items:center;
  justify-content:center;
  transition:.25s ease;
}
.social-btn-area:hover .social-icon{
  --_hover:var(--hover, var(--dh-lgray));
  
  color:var(--_hover);
  transform:scale(.95);
}


@media (max-width:1000px){
  .photo{
    width:400px;
    height:400px;
  }
}

@media (max-width:900px){
  .summary{
    flex-direction:column-reverse;
    align-items:center;
    justify-content:center;
    gap:0;
  }
  .photo{
    border-radius:var(--dh-border-round);
    width:125px;
    height:125px;
    margin:0;
  }
  .summary__text-area{
    width:100%;
    align-items:center;
    justify-content:space-around;
    margin-top:0;
    padding-top:0;
    margin-top:0;
  }
  .summary-text{
    text-shadow:0 0 2px var(--dh-black);
  }
  .summary__text-area>button{
    width:100%;
    margin-top:30px;
  }
}

/* ===========  COMPONENT TO CHANGE COLORS =========== */
.-red{
  --text:var(--dh-danger);
  --_shadow-10:var(--shadow-10, rgba(220 53 69 / 1));
  --_shadow-9:var(--shadow-9, rgba(220 53 69 / .9));
  --_shadow-8:var(--shadow-8, rgba(220 53 69 / .8));
  --_shadow-7:var(--shadow-7, rgba(220 53 69 / .7));
  --_shadow-5:var(--shadow-5, rgba(220 53 69 / .5));
  --_shadow-4:var(--shadow-4, rgba(220 53 69 / .4));
  --_shadow-3:var(--shadow-3, rgba(220 53 69 / .3));
  --_shadow-2:var(--shadow-2, rgba(220 53 69 / .2));
  --_shadow-1:var(--shadow-1, rgba(220 53 69 / .1));
  --_shadow-6:var(--shadow-6, rgba(220 53 69 / .6));
}
.-pink{
  --text:var(--dh-pink);
  --_shadow-10:var(--shadow-10, rgba(214 51 132 / 1));
  --_shadow-9:var(--shadow-9, rgba(214 51 132 / .9));
  --_shadow-8:var(--shadow-8, rgba(214 51 132 / .8));
  --_shadow-7:var(--shadow-7, rgba(214 51 132 / .7));
  --_shadow-5:var(--shadow-5, rgba(214 51 132 / .5));
  --_shadow-4:var(--shadow-4, rgba(214 51 132 / .4));
  --_shadow-3:var(--shadow-3, rgba(214 51 132 / .3));
  --_shadow-2:var(--shadow-2, rgba(214 51 132 / .2));
  --_shadow-1:var(--shadow-1, rgba(214 51 132 / .1));
  --_shadow-6:var(--shadow-6, rgba(214 51 132 / .6));
}
.-purple{
  --text:var(--dh-purple);
  --_shadow-10:var(--shadow-10, rgba(111 66 193 / 1));
  --_shadow-9:var(--shadow-9, rgba(111 66 193 / .9));
  --_shadow-8:var(--shadow-8, rgba(111 66 193 / .8));
  --_shadow-7:var(--shadow-7, rgba(111 66 193 / .7));
  --_shadow-5:var(--shadow-5, rgba(111 66 193 / .5));
  --_shadow-4:var(--shadow-4, rgba(111 66 193 / .4));
  --_shadow-3:var(--shadow-3, rgba(111 66 193 / .3));
  --_shadow-2:var(--shadow-2, rgba(111 66 193 / .2));
  --_shadow-1:var(--shadow-1, rgba(111 66 193 / .1));
  --_shadow-6:var(--shadow-6, rgba(111 66 193 / .6));
}


/* MEDIA  */
@media (max-width:600px){
  .summary__text-area{
    padding:0;
    margin-bottom:30px;
  }
  .summary__text-area>button{
    margin-top:15px;
  }
}

@media (max-width:550px){
  .photo{
    display:none;
  }
  .title-area{
    margin-bottom:20px;
  }
  .title-area .title{
    top:14px;
  }
}
@media (max-width:380px){
  .title-area .title{
    top:55px;
    left:18px;
  }
  .title-area .profession{
    white-space:wrap;
    text-align:center;
  }
  .title-area{
    align-items:center;
  }
  .title-area .profession::after{
    width:50%;
    right:70px;
  }
}

@media (hover:none) and (pointer: coarse){
  .photo{
    display:none;
  }
}

@media (hover:none) and (pointer: coarse) and (max-height:400px){
  .summary__text-area{
    font-size:0.9em;
  }
}