.summary{
  padding-top:80px;
  padding-bottom:70px;
  display:flex;
  justify-content:space-around;
  gap:60px;
  height:100vh;
  position:relative;
}

.summary__text-area{
  display:flex;
  flex-direction:column;
  margin-top:50px;
  max-width:500px;
  padding:20px;
}

.summary__text-area>button{
  margin-top:40px;
  transition:.25s ease;
}
.title-area{
  position:relative;
  margin-bottom:40px;
  display:flex;
  flex-direction:column;
  top:8px;
}

.title-area .title{
  font-size:1.5em;
  text-transform:uppercase;
  color:var(--dh-light);
  top:14px;
  left:3px;
  z-index:1;
}

.title-area .profession{
  font-size:2.2em;
  width:100%;
  color:var(--dh-blue);
  text-shadow:0 0 10px rgba(13 109 253 / .8),
  0 0 20px rgba(13 109 253 / .7),
  0 0 30px rgba(13 109 253 / .6),
  0 0 30px rgba(13 109 253 / .4),
  0 0 40px rgba(13 109 253 / .2);
  white-space:nowrap;
}
.title-area .profession::after{
  content:'';
  width:10em;
  height:3px;
  right:10px;
  margin:0 auto;
  position:absolute;
  bottom:0;
  background-color:var(--dh-blue);
  display:block;
  transition:.25s ease;
}

.title-area .title,
.title-area .profession{
  font-weight:700;
  position:relative;
  text-align:end;
  transition:.25s ease;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.summary .summary-text{
  color:var(--dh-light);
  text-align:justify;
  text-indent:1.2rem;
  margin-bottom:20px;
}

.frontend{
  color:var(--dh-blue);
  text-shadow:0 0 10px rgba(13 109 253 / .8),
  0 0 1px rgba(255 255 255 / .6),
  0 0 20px rgba(13 109 253 / .7),
  0 0 30px rgba(13 109 253 / .6),
  0 0 30px rgba(13 109 253 / .4),
  0 0 40px rgba(13 109 253 / .2);
}

.photo{
  width:500px;
  height:500px;
  margin:auto 0;
  border-radius:var(--dh-border-small);
  box-shadow:0 10px 30px -10px rgba(13 109 253 / .6),
  0 12px 25px -10px rgba(13 109 253 / .3),
  0 14px 20px -10px rgba(13 109 253 / .1),
  0 10px 10px -10px rgba(255 255 255 /.4);
}



@media (max-width:1000px){
  .photo{
    width:400px;
    height:400px;
  }
}

@media (max-width:900px){
  .summary{
    flex-direction:column-reverse;
    align-items:center;
    justify-content:center;
    gap:0;
  }
  .photo{
    border-radius:var(--dh-border-round);
    width:125px;
    height:125px;
    margin:0;
  }
  .summary__text-area{
    width:100%;
    align-items:center;
    justify-content:space-around;
    margin-top:0;
    padding-top:0;
    margin-top:0;
  }
  .title-area .title{
    left:3px;
  }
  .summary-text{
    text-shadow:0 0 2px var(--dh-black);
  }
  .summary__text-area>button{
    width:100%;
    margin-top:30px;
  }
}

@media (max-width:600px){
  .summary__text-area{
    padding:0;
    margin-bottom:30px;
  }
  .summary__text-area>button{
    margin-top:15px;
  }
}

@media (max-width:550px){
  .photo{
    display:none;
  }
  .title-area{
    margin-bottom:20px;
  }
  .title-area .title{
    top:10px;
  }
}
@media (max-width:380px){
  .title-area .title{
    top:55px;
    left:18px;
  }
  .title-area .profession{
    white-space:wrap;
    text-align:center;
  }
  .title-area{
    align-items:center;
  }
  .title-area .profession::after{
    width:50%;
    right:70px;
  }
}