.skills{
  padding-top:120px;
  padding-bottom:120px;
}

.skills-grid{
  display:grid;
  grid-template-columns:repeat(4, minmax(20px, 1fr));
  justify-items:center;
  align-items:center;
}

.skills-icon{
  font-size:3rem;
  color:var(--dh-blue);
}
