.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;

  height: 100svh;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: 6px solid rgba(48 48 48 / 0.8);
}

.icons-area {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: var(--clr-dark);
  border-radius: 50%;
  font-size: 1.3rem;
  color: #fff;

  cursor: pointer;
  transition: 0.25s ease;
}

.icons:hover {
  box-shadow: 0 0 10px 8px rgba(83 91 242 / 0.25);
  filter: brightness(0.7);
}
